*{
    padding: 0px;
    margin: 0px;
}



body{
     color: white;
     background-color:black;
     font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 500px;
     width: 0 auto;
     flex-direction: column;
}


.main{

    display: flex;
    padding: 10px;
   justify-content: center;
   
   background-image: url(../imagem/good-faces-Ue-kTU9hRIQ-unsplash.jpg);
   background-size: cover;
   width: 300px;
   height: 180px;
   align-items: center;
   margin: 30px;
   border-radius: 4px;
}

.insir_main{
    outline: none;
}

.insir_main:focus{
    outline: none;
    color:#b88e8e ;
}

.commet{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.commet input{
    outline: none;
    width: 220px;
    height: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 06px;
    border-radius: 10px;

}
input::placeholder{
    padding: 19px;
    
}

.abc{
    padding-top: 20px ;
    color: rgb(49, 49, 49);
    text-align: justify;
    word-break: break-all;
}

.abc a:link{
    text-decoration: none;
    color: #b88e8e;
}




